.env
credentials.json
token.json
client_secret_*.json

__pycache__/
*.py[cod]
*$py.class

venv/
env/

*.db
*.sqlite3
invoices.db

download/
s3_invoices/

test_payload/
tests/golden_pdfs
tests/golden_pdfs/golden_pdfs.zip


.vscode/
.idea/
.DS_Store